.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #1b1c1d;
  color: #ffffff;
  align-items: center;
}

.header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #2c2c2c;
  color: #f5f5f5;
  width: 300px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #3d64f6;
}

button {
  background-color: #3d64f6;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2c4fd4;
}

.signal {
  font-size: 1.2rem;
}

.h1 {
  margin-bottom: 0px;
}
